<div class="cart-list" *ngIf="(cartTotal$ | async); else emptyCart">
  <mat-list>
    <mat-list-item *ngFor="let a of (cart$ | async); last as last">
      <img *ngIf="a.Images && a.Images.length > 0" mat-list-avatar [src]="API + a.Images[0].path">
      <h3 matLine>{{ a.name }}</h3>
      <p matLine>
        <span class="mat-body-2">{{ a.price | currency }}</span>
      </p>
      <mat-action-list>
        <button mat-flat-button color="warn" (click)="removeFromCart(a)">
          <mat-icon>remove_shopping_cart</mat-icon>SUPPRIMER
        </button>
      </mat-action-list>
      <mat-divider inset *ngIf="!last"></mat-divider>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p matLine>
        Total&nbsp;:&nbsp;<span class="mat-body-2">{{ (cartTotal$ | async) | currency }}</span>
      </p>
      <mat-action-list>
        <app-paypal (transactionStatus)="transactionSnackbar($event)"></app-paypal>
      </mat-action-list>
    </mat-list-item>
  </mat-list>
</div>
<ng-template #emptyCart>
  <div class="cart-list-empty">
    <h1 class="mat-display-2">Votre panier est vide !</h1>
  </div>
</ng-template>