<div class="content" *ngIf="(cartTotal$ | async); else emptyCart" fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let a of getArticles() | async">
        <img mat-list-avatar [src]="API + a.Images[0].path">
        <h3 mat-line>{{ a.name }}</h3>
        <p mat-line>{{ a.sku }}</p>
        <p mat-line>{{ a.price | currency }}</p>
        <mat-action-list>
          <button mat-flat-button color="warn" (click)="removeFromCart(a)">
            <mat-icon>remove_circle</mat-icon>
            Supprimer
          </button>
        </mat-action-list>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-card fxFlex="25%" fxFlexAlign="start">
    <mat-card-content>
      <p>Total: {{ (cartTotal$ | async) | currency }}</p>
    </mat-card-content>
    <mat-card-actions>
      <app-paypal (transactionStatus)="transactionSnackbar($event)"></app-paypal>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #emptyCart>
  <div class="empty" fxLayout="row" fxLayoutAlign="center center">
    <h2 class="mat-display-1">Votre panier est vide !</h2>
  </div>
</ng-template>