mat-card {
  width: 250px;
  overflow: ellipsis;
}

img {
  max-width: 100%;
}

mat-divider {
  margin: 32px 0;
}

mat-card-title, mat-card-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;;
}