<h2 mat-dialog-title class="mat-title">Création d'un nouvel article</h2>
<mat-dialog-content>
  <form id="articleForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>SKU</mat-label>
      <input matInput id="sku" type="text" formControlName="sku">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput id="name" type="text" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Sous-titre</mat-label>
      <input matInput id="subtitle" type="text" formControlName="subtitle">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [mat-autosize]="true" formControlName="description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Prix</mat-label>
      <input matInput step="0.01" type="number" formControlName="price">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Quantité</mat-label>
      <input matInput step="1" type="number" formControlName="quantity">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Catégorie</mat-label>
      <mat-select formControlName="Category">
        <mat-option *ngFor="let cat of categories$ | async" [value]="cat">
          {{ cat.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" form="articleForm" (ngSubmit)="onSubmit()">Valider</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
</mat-dialog-actions>