<h1 mat-dialog-title>Creating new article</h1>
<div class="form">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="article.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Subtitle</mat-label>
      <input matInput type="text" [(ngModel)]="article.subtitle">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [mat-autosize]="true" [(ngModel)]="article.description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput step="0.01" type="number" [(ngModel)]="article.price">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="article.category_id">
        <mat-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.id }}: {{ cat.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" [mat-dialog-close]="article" cdkFocusInitial>Submit</button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
