<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex class="image-container">
    <img src="/assets/1.jpg">
  </div>
  <!-- Placeholder text -->
  <div class="home">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi leo, semper id tincidunt eu, aliquet ut felis. Praesent metus arcu, sodales sed risus id, blandit viverra sapien. Cras et sem ac erat fringilla luctus. Sed faucibus mattis auctor. Nulla quis orci sed justo tempus efficitur eu non nibh. Fusce quis sagittis nulla. In mauris quam, cursus nec elementum eu, pharetra eget urna. Integer sit amet tempus purus. Vivamus pellentesque et libero at volutpat. Integer libero magna, luctus convallis lorem ut, faucibus molestie magna.
    </p>
    <p>
      Aenean ac ligula vel dolor iaculis pulvinar. Ut metus ante, interdum a dolor et, ultrices dignissim felis. Aenean pulvinar id orci malesuada vehicula. Integer vestibulum, tortor sit amet fringilla porta, ex eros pulvinar mauris, nec vulputate erat nibh eu urna. Ut vitae tortor in lacus sodales viverra. Ut faucibus molestie ipsum, interdum egestas orci maximus nec. Aenean vel massa ut mauris auctor mattis. Vivamus non nibh dictum, suscipit turpis at, molestie nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vulputate velit in risus viverra, non tempus nibh facilisis. In hac habitasse platea dictumst. Sed molestie dapibus tellus sed ornare. Sed sodales diam vel tellus tincidunt accumsan. Fusce egestas risus quis quam rutrum pharetra. In consectetur venenatis congue. Nulla placerat odio vestibulum velit egestas, vitae commodo tortor bibendum.
    </p>
    <p>
      Integer enim ante, sollicitudin ac ipsum nec, lacinia tempor magna. Donec ullamcorper nunc nec interdum egestas. Aliquam sit amet turpis eget augue congue imperdiet. Curabitur sed urna ac augue auctor lacinia sit amet nec arcu. Cras tincidunt fermentum turpis, ut convallis turpis. Donec non iaculis justo, non ornare diam. Maecenas viverra bibendum fringilla. Proin in sapien fermentum, efficitur nunc et, hendrerit felis. Vestibulum accumsan feugiat pulvinar. Phasellus vestibulum ipsum vel justo consequat sodales. In hac habitasse platea dictumst. Maecenas ut felis vel mi malesuada vulputate vitae id lorem.
    </p>
    <p>
      Proin consequat porta dui non posuere. Vestibulum dui ante, finibus sit amet lectus ac, venenatis tincidunt leo. Nulla pretium nulla eget blandit ullamcorper. Sed semper mi a congue pharetra. Donec vestibulum purus sit amet tempus luctus. Sed sed ipsum non magna mollis tincidunt. Cras placerat odio ac lectus elementum pulvinar.
    </p>
    <p>
      Vivamus sagittis tortor turpis, in dictum nibh fringilla eget. Fusce commodo fermentum luctus. Suspendisse et mollis risus. Donec elementum laoreet condimentum. Aliquam eros urna, laoreet quis imperdiet at, faucibus quis diam. Duis nec ultrices dolor, finibus porta tellus. Maecenas condimentum accumsan risus, eu dapibus elit laoreet vel. Aliquam eget interdum nisl. Nam sagittis quam elit, quis bibendum nisl iaculis vel. Donec id orci sit amet velit sodales commodo. Vivamus eget tempor urna, vitae laoreet metus. Suspendisse id massa in justo efficitur posuere eget commodo lectus. Aliquam a massa sed nibh hendrerit tristique. Curabitur nec auctor metus.
    </p>
  </div>
</div>