<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex class="image-container">
    <img src="/assets/1.jpg">
  </div>
  <div class="headlines">
    <h1>Développement durable</h1>
    <h1>Transition écologique</h1>
    <h1>Responsabilité sociétale d’entreprise</h1>
    <h1>Economie circulaire</h1>
  </div>
  <mat-divider fxFill></mat-divider>
  <div class="home">
    <section>
    </section>
    <section>
      <h2>Nos objectifs</h2>
      <p>
        Œuvrer en faveur de toute action préservant l’environnement.<br>
        Collecter et participer à la gestion des déchets.
      </p>
    </section>
    <mat-divider></mat-divider>
    <section>
      <h2>Particuliers & professionnels</h2>
      <h3>Donnez !</h3>
      <p>
        Réduisez votre empreinte écologique et la production de vos déchets.<br>
        Luttez contre le gaspillage.<br>
        Soyez acteur de l’économie circulaire sociale et solidaire.<br>
        Recycler meubles et objets d’occasion, fins de série, invendus, déstockage, etc…
      </p>
    </section>
    <mat-divider></mat-divider>
    <section>
      <h2>Nous contacter</h2>
      <p>
        Du lundi au vendredi de 8h à 12h et de 14h à 19h.<br>
        Le samedi sur RDV au <span class="mat-body-strong">04 79 544 262</span>.<br>
        Courriel&nbsp;: <a href="mailto:urgence.environnement@free.fr">urgence.environnement@free.fr</a>.
      </p>
    </section>
    <mat-divider></mat-divider>
    <section>
      Nos ressources financières ne comprennent que les sommes perçues en contrepartie des prestations fournies par
      l’association et les dons.
    </section>
  </div>
</div>