.image-container {
  width: 100%;
}

.image-container > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.home {
  margin: 24px auto;
  width: 90%;
  max-width: 1920px;
}

.headlines {
  text-align: center;
}

mat-divider {
  margin: 24px auto;
}