<h1>My profile</h1>
<div *ngIf="session$ | async as s">
  <h3>My info</h3>
  <p>Username: {{ s.username }}</p>
</div>
<div>
  <h3>My orders</h3>
  <table mat-table
       [dataSource]="orders$"
       class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let order"> {{ order.id }} </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let order"> {{ order.total }} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let order"> {{ order.status }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'total', 'status']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'total', 'status']"></tr>
  </table>
</div>