.article-detail {
  margin: 24px auto;
  width: 90%;
  max-width: 1920px;
}

.article-description {
  margin: 16px 0;
  white-space: pre-wrap;
}

ul {
  list-style: none;
  padding-left: 0;
}

mat-divider {
  margin: 32px auto;
}