table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.article-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.article-row:not(.expanded-row):active {
  background: #efefef;
}

.article-row td {
  border-bottom-width: 0;
}

.article-detail {
  overflow: hidden;
  display: flex;
}

mat-divider {
  margin: 0 16px;
}