<div class="form">
  <form [formGroup]="formGroup" (ngSubmit)="signUp()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput id="email" type="email" formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput id="password" type="password" formControlName="password">
    </mat-form-field>
    <br>
    <button mat-raised-button (ngSubmit)="signUp()" color="primary" type="submit">Sign up</button>
  </form>
</div>