<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button routerLink="/" (click)="activeLink = 'Accueil'">
        <h1>{{ title }}</h1>
      </a>
      <nav fxFlex mat-tab-nav-bar backgroundColor="primary">
        <a mat-tab-link *ngFor="let cat of categories" (click)="activeLink = cat.name" [active]="activeLink == cat.name"
          [routerLink]="[ '/articles' ]" [queryParams]="{ category: cat.slug, page: 1 }">
          {{ cat.name }}
        </a>
      </nav>
      <button mat-icon-button routerLink="/panier" (click)="activeLink = 'Panier'"
        [matBadge]="getCartQuantity() | async" matBadgeColor="accent">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>
<main class="content">
  <router-outlet></router-outlet>
</main>
<footer fxLayout="row wrap" fxLayoutGap="16px" class="footer">
  <div>
    <h3>Qui sommes-nous ?</h3>
    <p>
      Urgence&nbsp;Environnement est une association loi 1901 à but non lucratif.
    </p>
  </div>
  <div>
    <h3>Nous trouver</h3>
    <address>
      Rond Point de l'aéroport<br>
      256 Rue Pré Fontaine<br>
      73420 VOGLANS
    </address>
  </div>
  <div>
    <h3>Nous contacter</h3>
    <address>
      Du lundi au vendredi de 8h à 12h et de 14h à 19h.<br>
      Le samedi sur RDV au 04.79.54.42.62.
    </address>
  </div>
</footer>