mat-progress-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.title {
  font-family: 'Stencil'
}

.footer {
  padding: 24px;
}

.footer p, address {
  opacity: .6;
}

.search-form {
  height: 40px;
}

.search-input {
  font-size: 14px;
  padding: 0 4px;
}

a {
  color: inherit;
}