<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <a mat-button routerLink="/" (click)="activeLink = 'Accueil'">
        <div fxLayout="row" fxLayoutGap="8px">
          <img src="/assets/logo.png" class="logo">
          <h1 fxShow fxHide.lt-sm class="title">{{ title }}</h1>
        </div>
      </a>
      <form fxFlex fxLayout="row" class="search-form" #s="ngForm" (ngSubmit)="onSearch(s)" novalidate>
        <input fxFlex class="search-input" name="search" ngModel type="search" placeholder="Rechercher">
        <button mat-raised-button type="submit" color="accent">
          <mat-icon>search</mat-icon>
        </button>
      </form>
      <button mat-icon-button routerLink="/panier" (click)="activeLink = 'Panier'"
        [matBadge]="getCartQuantity() | async" matBadgeSize="small" matBadgeColor="accent">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <nav fxFlex mat-tab-nav-bar backgroundColor="primary">
        <a mat-tab-link *ngFor="let cat of categories" (click)="activeLink = cat.name" [active]="activeLink == cat.name"
          [routerLink]="[ '/articles' ]" [queryParams]="{ category: cat.slug, page: 1 }">
          {{ cat.name }}
        </a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>
<main class="content">
  <router-outlet></router-outlet>
</main>
<footer fxLayout="row wrap" fxLayoutGap="16px" class="footer">
  <div>
    <h3>Nous trouver</h3>
    <address>
      Rond Point de l'aéroport<br>
      256 Rue Pré Fontaine<br>
      73420 VOGLANS
    </address>
  </div>
  <div>
    <h3>Nous contacter</h3>
    <address>
      Du lundi au vendredi de 8h à 12h et de 14h à 19h.<br>
      <mat-icon>email</mat-icon>&nbsp;<a
        href="mailto:urgence.environnement@free.fr">urgence.environnement@free.fr</a><br>
      <mat-icon>phone</mat-icon>&nbsp;04&nbsp;79&nbsp;544&nbsp;262
    </address>
  </div>
  <span fxFlex></span>
  <div>
    <p>
      Association régie par la loi du 1er&nbsp;juillet&nbsp;1901 et le décret du 16&nbsp;août&nbsp;1901.<br>
      Apolitique et non confessionnelle n°&nbsp;0&nbsp;732&nbsp;016&nbsp;188 &mdash; septembre&nbsp;2007.
    </p>
  </div>
</footer>