<h1 mat-dialog-title>Showing {{ article.name }} images</h1>
<mat-dialog-content>
  <div class="carousel">
    <div *ngFor="let img of images; let i = index" fxLayout="row" fxLayoutAlign="center center" [fxShow]="slideIndex === i" class="slide">
      <img [src]="img">
    </div>
    <button mat-icon-button color="warn" class="delete">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" class="prev" (click)="changeSlide(-1)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button color="primary" class="next" (click)="changeSlide(1)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <button type="button" color="primary" mat-raised-button (click)="fileInput.click()">Upload image <mat-icon>file_upload</mat-icon></button>
  <input #fileInput hidden (change)="fileChosen($event)" type="file" id="file">
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="addImage()">Submit</button>
</mat-dialog-actions>