<mat-toolbar fxLayout="row nowrap" fxLayoutAlign="center center" color="primary">
  <h1 class="mat-headline">{{ title }}</h1>
  <nav mat-tab-nav-bar fxFlex backgroundColor="primary">
    <a mat-tab-link routerLink="/" (click)="activeLink = 'Accueil'" [active]="activeLink == 'Accueil'">Accueil</a>
    <a mat-tab-link *ngFor="let link of categoryLinks; let idx = index"
    (click)="activeLink = link"
    [active]="activeLink == link"
    [routerLink]="[ '/articles' ]"
    [queryParams]="{ categoryId: idx + 1 }">
      {{ link }}
    </a>
    <span fxFlex></span>
    <a mat-tab-link routerLink="/panier" (click)="activeLink = 'Panier'" [active]="activeLink == 'Panier'">
      <mat-icon>shopping_cart</mat-icon>
      Panier ({{ (getCartTotal() | async) | currency }})
    </a>
  </nav>
</mat-toolbar>