<button mat-raised-button (click)="addArticle()" color="primary" type="button">Create</button>
<table mat-table multiTemplateDataRows
       [dataSource]="articles"
       class="mat-elevation-z8">
  <ng-container
      *ngFor="let col of columnsToDisplay"
      matColumnDef="{{ col }}">
    <th mat-header-cell *matHeaderCellDef> {{ col }} </th>
    <td mat-cell *matCellDef="let el"> {{ el[col] }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> actions </th>
    <td mat-cell *matCellDef="let el">
      <button mat-raised-button (click)="showArticleImages(el)" color="primary" type="button">Photos</button>
      <button mat-raised-button (click)="editArticle(el)" color="primary" type="button">Edit</button>
      <button mat-raised-button (click)="deleteArticle(el)" color="warn" type="button">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'subtitle', 'description', 'price', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'subtitle', 'description', 'price', 'actions']" class="detail-row"></tr>
</table>
