@use "~@angular/material" as mat;
@use "./themes/_articles-detail-theme.scss" as articles-detail;

@include mat.core();

$urgence-environnement-palette: (
  50: #e5f2e8,
  100: #c1dec5,
  200: #9ac9a1,
  300: #73b57e,
  400: #57a764,
  500: #3a984b,
  600: #328a42,
  700: #297938,
  800: #20682e,
  900: #124a1d,
  A50: #f1e1ec,
  A100: #ddb3d0,
  A200: #c984b1,
  A300: #b95693,
  A400: #af367d,
  A500: #a81067,
  A600: #a81067,
  A700: #831459,
  A800: #6e1450,
  A900: #4a123f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A50: #000000,
    A100: #000000,
    A200: #000000,
    A300: #000000,
    A400: #000000,
    A500: #000000,
    A600: #000000,
    A700: #ffffff,
    A800: #ffffff,
    A900: #ffffff,
  ),
);

$primary: mat.define-palette($urgence-environnement-palette, 900);
$accent: mat.define-palette($urgence-environnement-palette, A900, A300);
$warn: mat.define-palette(mat.$red-palette, 900, 300);

$urgence-environnement-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
  )
);

mat-icon {
  vertical-align: middle;
}

.footer {
  color: #ffffff;
  background-color: mat.get-color-from-palette($primary, 900);
}

@include mat.all-component-themes($urgence-environnement-theme);
@include articles-detail.theme($urgence-environnement-theme);
