@use '~@angular/material' as mat;

@include mat.core();

$ue-palette: (
  50: #e5f3ea,
  100: #c1e2cb,
  200: #99cfaa,
  300: #70bd89,
  400: #50af71,
  500: #2da25a,
  600: #269350,
  700: #1d8245,
  800: #16713a,
  900: #095227,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$urgence-environnement-primary: mat.define-palette($ue-palette, 900);
$urgence-environnement-accent: mat.define-palette($ue-palette, 200, 100, 400);

$urgence-environnement-warn: mat.define-palette(mat.$red-palette);

$urgence-environnement-theme: mat.define-light-theme((
  color: (
    primary: $urgence-environnement-primary,
    accent: $urgence-environnement-accent,
    warn: $urgence-environnement-warn,
  )
));

@include mat.all-component-themes($urgence-environnement-theme);

