@use '~@angular/material' as mat;

@include mat.core();

$ue-palette: (
  50: #e5f2e8,
  100: #c1dec5,
  200: #9ac9a1,
  300: #73b57e,
  400: #57a764,
  500: #3a984b,
  600: #328a42,
  700: #297938,
  800: #20682e,
  900: #124a1d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$urgence-environnement-primary: mat.define-palette($ue-palette, 900);
$urgence-environnement-accent: mat.define-palette($ue-palette, 500, 400, 700);

$urgence-environnement-warn: mat.define-palette(mat.$red-palette);

$urgence-environnement-theme: mat.define-light-theme((
  color: (
    primary: $urgence-environnement-primary,
    accent: $urgence-environnement-accent,
    warn: $urgence-environnement-warn,
  )
));

@include mat.all-component-themes($urgence-environnement-theme);

