<h1 mat-dialog-title>Editing {{ article.name }}</h1>
<div class="form">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="newArticle.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Subtitle</mat-label>
      <input matInput type="text" [(ngModel)]="newArticle.subtitle">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [mat-autosize]="true" [(ngModel)]="newArticle.description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput step="0.01" type="number" [(ngModel)]="newArticle.price">
    </mat-form-field>
    <br>
    <mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()" color="primary" [mat-dialog-close]="newArticle" cdkFocusInitial>Submit</button>
      <button mat-raised-button (click)="onNoClick()" color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
